@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
*::selection {
    color: #fff;
    background-color: #000;
}
#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: whitesmoke;
}
nav #container {
    height: 10vh;
    width: 100%;
    background-color: rgb(255,255,255,.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#logo h2 {
    margin: 0 4vw;
    cursor: pointer;
}
#social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    gap: 1vw;
    margin: 0 4vw;
    font-size: 1.5rem;
}
#social a {
    text-decoration: none;
    color: #000;
}
#social #link {
    border: 2px solid black;
    padding: 0.2vw 0.5vw;
    border-radius: 10px;
}
#social #link:hover {
    background-color: #EEEEEE;
}
#social i:hover {
    transform: scale(1.1);
}
#container-box {
    min-height: 85vh;
    width: 95vw;
    background-color: #FFFFFF;
    position: relative;
    margin: 0 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content h1 {
    font-size: 8rem;
    margin: 15vh 0 2vh 3vh;
    font-family: 'Josefin sans';
    text-align: left;
}
#content h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 0%;
    background-color: #333;
    transition: all ease-in;
}
#content h1:hover::after {
    width: 100%;
}
#content p {
    font-size: 2rem;
    word-spacing: 0.5vw;
    letter-spacing: 0.15vw;
    font-family: 'Josefin sans';
    margin: 0 0 8vh 3vh;
    text-align: left;
}
#content h3 {
    font-size: 5rem;
    font-family: 'Josefin sans';
    margin: 0 0 4vh 3vh;
    text-align: left;
}
#content ul {
    list-style: none;
    font-size: 1.8rem;
    font-family: 'Josefin sans';
    text-align: left;
    margin-bottom: 10vh;
}
#content li {
    margin: 0 0 2vh 3vh;
    color: #40424a;
}
#content span {
    display: inline-block;
    min-width: 220px;
    color: black;
}
#content a {
    text-decoration: none;
    color: #40424a;
}
#img img {
    height: 70vh;
    width: 28vw;
    margin: 0 4vw;
}



#resume-marks {
    height: 20vh;
    width: 100%;
    background-color: #F9F9F9;
}
#resume-marks h1 {
    font-size: 5rem;
    font-family: 'Rethink Sans';
    text-align: justify;
    margin-left: 10vw;
}



#de-script {
    min-height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#line {
    height: 80vh;
    width: 0.15vw;
    background-color: black;
    transform: translate(5vw,5vh);
}
#line #circle {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border: 4px solid black;
    border-radius: 50%;
    display: inline-block;
    transform: translate(-1.3vh,15vh);
}
#line #circle2 {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border: 4px solid black;
    border-radius: 50%;
    display: inline-block;
    transform: translate(-1.3vh,60vh);
}
#text {
    display: flex;
    flex-direction: column;
}
#text1 h1 {
    font-size: 4rem;
    font-family: 'Josefin sans';
    color: #40424a;
}
#text2 h1 {
    font-size: 4rem;
    font-family: 'Josefin sans';
    color: #40424a;
}
#text1 h1 {
    transform: translate(0,-10vh);
}
#text1 h3 {
    font-size: 3rem;
    transform: translate(0,-10vh);
    font-family: 'Josefin sans';
}
#text1 p {
    font-size: 2rem;
    transform: translate(0,-10vh);
    font-family: 'Josefin sans';
}
#text2 h1 {
    transform: translate(0,10vh);
}
#text2 h3 {
    font-size: 3rem;
    font-family: 'Josefin sans';
    transform: translate(0,10vh);
}
#text2 p {
    font-size: 2rem;
    font-family: 'Josefin sans';
    transform: translate(0,10vh);
}



#text3 h1 {
    font-size: 4rem;
    font-family: 'Josefin sans';
    color: #40424a;
    transform: translate(0,-10vh);
}
#text4 h1 {
    font-size: 4rem;
    font-family: 'Josefin sans';
    color: #40424a;
}
#text3 h3 {
    font-size: 3rem;
    transform: translate(0,-10vh);
    font-family: 'Josefin sans';
}
#text3 p {
    font-size: 2rem;
    transform: translate(0,-10vh);
    font-family: 'Josefin sans';
}
#text4 h1 {
    transform: translate(0,10vh);
}
#text4 h3 {
    font-size: 3rem;
    font-family: 'Josefin sans';
    transform: translate(0,10vh);
}
#text4 p {
    font-size: 2rem;
    font-family: 'Josefin sans';
    transform: translate(0,10vh);
}



#lang {
    min-height: 20vh;
    width: 100%;
    background-color: #F9F9F9;
}
#lang h1 {
    font-size: 5rem;
    font-family: 'Rethink Sans';
    text-align: justify;
    margin-left: 10vw;
}
#lang p {
    font-size: 2.5rem;
    font-family: 'Rethink Sans';
    text-align: justify;
    margin-left: 20vw;
    word-spacing: 1vw;
}


#port {
    min-height: 20vh;
    width: 100%;
    top: 10vh;
    background-color: #F9F9F9;
}
#port h1 {
    font-size: 3rem;
    font-family: 'Rethink Sans';
    text-align: justify;
    margin: 10vw 0 2vh 5vw;
}




#container-footer {
    height: 30vh;
    width: 100%;
    background-color: #494949;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    justify-content: center;
    transform: translate(0,10vh);
}
#container-footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
}
#container-footer ul li {
    color: #fff;
}




/* Responsive Section */
@media screen and (max-width: 600px) {

    #container-box {
        min-height: 85vh;
        width: 95vw;
        background-color: #FFFFFF;
        position: relative;
        margin: 0 1vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #img img {
        height: 18vh;
        width: 28vw;
        display: none;
    }
    #content h1 {
        font-size: 5rem;
        margin: 10vh 0 3vh 1vh;
        font-family: 'Josefin sans';
        text-align: left;
    }
    #content h3 {
        font-size: 3rem;
        font-family: 'Josefin sans';
        margin: 0 0 4vh 1vh;
        text-align: left;
    }
    #content ul {
        list-style: none;
        font-size: 1.2rem;
        font-family: 'Josefin sans';
        text-align: left;
        margin-bottom: 8vh;
    }
    #content li {
        margin: 0 0 2vh 1vh;
        color: #40424a;
    }


    #resume-marks {
        height: 10vh;
        width: 100%;
        background-color: #F9F9F9;
    }
    #resume-marks h1 {
        font-size: 3rem;
        font-family: 'Rethink Sans';
        text-align: justify;
        margin-left: 3vw;
    }


    #de-script {
        min-height: 80vh;
        width: 100%;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #line {
        display: none;
    }
    #text1 h1 {
        font-size: 3rem;
        font-family: 'Josefin sans';
        color: #40424a;
    }
    #text2 h1 {
        font-size: 3em;
        font-family: 'Josefin sans';
        color: #40424a;
    }
    #text1 h1 {
        transform: translate(2vh,-10vh);
    }
    #text1 h3 {
        font-size: 2rem;
        transform: translate(2vh,-10vh);
        font-family: 'Josefin sans';
    }
    #text1 p {
        font-size: 1.2rem;
        transform: translate(2vh,-10vh);
        font-family: 'Josefin sans';
    }
    #text2 h1 {
        transform: translate(2vh,10vh);
    }
    #text2 h3 {
        font-size: 2rem;
        font-family: 'Josefin sans';
        transform: translate(2vh,10vh);
    }
    #text2 p {
        font-size: 1.2rem;
        font-family: 'Josefin sans';
        transform: translate(2vh,10vh);
    }
    
    
    
    #text3 h1 {
        font-size: 3rem;
        font-family: 'Josefin sans';
        color: #40424a;
        transform: translate(2vh,-10vh);
    }
    #text4 h1 {
        font-size: 3rem;
        font-family: 'Josefin sans';
        color: #40424a;
    }
    #text3 h3 {
        font-size: 1.5rem;
        transform: translate(2vh,-10vh);
        font-family: 'Josefin sans';
    }
    #text3 p {
        font-size: 1.2rem;
        transform: translate(2vh,-10vh);
        font-family: 'Josefin sans';
    }
    #text4 h1 {
        transform: translate(2vh,10vh);
    }
    #text4 h3 {
        font-size: 1.5rem;
        font-family: 'Josefin sans';
        transform: translate(2vh,10vh);
    }
    #text4 p {
        font-size: 1.2rem;
        font-family: 'Josefin sans';
        transform: translate(2vh,10vh);
    }


    #lang {
        min-height: 20vh;
        width: 100%;
        background-color: #F9F9F9;
    }
    #lang h1 {
        font-size: 2rem;
        font-family: 'Rethink Sans';
        text-align: justify;
        margin-left: 1vw;
        text-align: left;
    }
    #lang p {
        font-size: 1.5rem;
        font-family: 'Rethink Sans';
        text-align: justify;
        margin-left: 20vw;
        word-spacing: 1vw;
        text-align: left;
    }



    #port {
        min-height: 10vh;
        width: 100%;
        top: 10vh;
        background-color: #F9F9F9;
    }
    #port h1 {
        font-size: 1.5rem;
        font-family: 'Rethink Sans';
        text-align: justify;
        margin: 10vw 0 2vh 5vw;
    }



    #container-footer {
        height: 15vh;
        width: 100%;
        background-color: #494949;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        align-items: center;
        justify-content: center;
        transform: translate(0,10vh);
    }
}
